<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ERROR" class="ch.qos.logback.core.FileAppender">
		<File>/var/log/snap-crescent-error.log</File>
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="FILE-DEBUG" class="ch.qos.logback.core.FileAppender">
		<File>/var/log/snap-crescent-debug.log</File>
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="FILE-INFO" class="ch.qos.logback.core.FileAppender">
		<File>/var/log/snap-crescent-info.log</File>
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root level="ERROR">
		<appender-ref ref="FILE-ERROR" />
		<appender-ref ref="FILE-DEBUG" />
		<appender-ref ref="FILE-INFO" />
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="com.snapcrescent" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-ERROR" />
		<appender-ref ref="FILE-DEBUG" />
		<appender-ref ref="FILE-INFO" />
		<appender-ref ref="STDOUT" />
    </logger>
</configuration>