.main {
    --bs-gutter-x: 0;
}

.mat-drawer-container {
    background-color: unset;
}
.mat-drawer-content {
}

.header {
    display: flex;
}

.page {
    display: flex;
    height: 100vh;

    .sideBar {
        width: 15%;
    }
    
    .content {
        width: 85%;
        flex: 1 0 auto;
    }
}


