.sidebar {

  position:fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  border-right: 1px solid #162636;
  height: 100vh;

    box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 14px 0px rgba(0, 0, 0, 0.75);

    .menu-item {
      padding: 10px;
    }
  }

  