@import "/src/assets/styles/variables.scss";

.header {
    background: $primary-color;
    height: 50px;

    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);

    .logout-button {
        margin: 8px;
    }
}

