@import '~@angular/material/theming';
@import "variables.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-teal);
$app-accent:  mat-palette($mat-teal, 900, A400, 900);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.mat-form-field {
    width: 100%;
}

.mat-body, .mat-body-1, .mat-typography {
    letter-spacing: normal;
}

.mat-form-field-disabled {
    .mat-form-field-label{
        color: rgba(0, 0, 0, 1)!important;
    }

    .mat-input-element{
        color: rgba(0, 0, 0, 1)!important;
    }
}

.mat-snack-bar-container {
    &.alert-error {
        background-color: $error-color;
    }

    &.alert-success {
        background-color: $accent-color;
    }


    .mat-simple-snack-bar-content,.mat-simple-snackbar-action{
        color:white;
    }
}

.mat-hint {
    &.error {
        font-size: 10px;
        color:$error-color;
    }
}