<div class="create-edit-page">
  <div class="row title-bar">
    <div class="col-12">
      <h2>{{id? 'Manage' : 'Create'}} User</h2>
    </div>
    <div class="col-12">
      <app-breadcrumb
      [breadCrumbs]="breadCrumbs"
      ></app-breadcrumb>
    </div>
  </div>

  <form class="row m-t-30" *ngIf="entityFormGroup" [formGroup]="entityFormGroup">
    <div class="col-12">
      <mat-card class="mat-elevation-z8">
        <div class="row input-row">
          <div class="input-column col-md-6 col-12">
            <app-select 
            placeholder="Type" 
            formControlName="userType" 
            [isRequired]="true"
            [error]="getErrorMessage('userType')"
            [options]="userTypes"
              >
            </app-select>
          </div>
        </div>

        <div class="row input-row">
          <div class="input-column col-md-6 col-12" [ngClass]="{'col-md-6': !id}">
            <app-text placeholder="Username" formControlName="username" [isRequired]="true"
              [error]="getErrorMessage('username')"></app-text>
          </div>
          <div *ngIf="!id" class="input-column col-md-6 col-12">
            <app-text placeholder="Password" formControlName="password" [isRequired]="true"
              [error]="getErrorMessage('password')"></app-text>
          </div>
        </div>

        <div class="row input-row">
          <div class="input-column col-md-6 col-12">
            <app-text placeholder="First Name" formControlName="firstName" [isRequired]="true"
              [error]="getErrorMessage('firstName')"></app-text>
          </div>
          <div class="input-column col-md-6 col-12">
            <app-text placeholder="Last Name" formControlName="lastName" [isRequired]="true"
              [error]="getErrorMessage('lastName')"></app-text>
          </div>
        </div>

        
    </mat-card>
    </div>
  </form>
  <app-action-bar position="page" [actions]="actions"></app-action-bar>
</div>