@import "/src/assets/styles/variables.scss";

.asset-container{
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
    min-height: 100vh;

    img,video{
        max-height: calc(100vh - 100px);
        max-width: calc(100vw - 100px);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }   

    
}