.side-menu-link{
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
    
    .mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }
}