@import "/src/assets/styles/variables.scss";

.side-bar-container{
    padding: 20px 20px 20px 0px;
    .item{
        padding: 10px 10px 5px 10px;
        padding-left: 20px;
        cursor: pointer;
        color: $primary-color;
        

        &.active {
            background-color: #bde9e4;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        

        .icon{
            font-size: 24px;
            margin-right: 30px;
        }

        .group-label {
            font-size: 14px;
        }

        .text {
            vertical-align: super;
            font-size: 16px;
        }
    }
}
