@import "/src/assets/styles/variables.scss";

.overlay-loader {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

@keyframes lds-ripple {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -5px;
    left: -5px;
    width: 190px;
    height: 190px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -5px;
    left: -5px;
    width: 190px;
    height: 190px;
    opacity: 0;
  }
}

.lds-css {
  margin-top: 60%;
}

.lds-ripple {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 8px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: $primary-color;
}
.lds-ripple div:nth-child(2) {
  border-color: $accent-color;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
