<div class="album-type-container">
    <ng-container *ngTemplateOutlet="albums; context: {$implicit: {albums: myAlbums, albumGroup : 'My Albums'}}"></ng-container>   
    
    <div class="album-type-container" *ngIf="sharedWithMeAlbums && sharedWithMeAlbums.length">
        <ng-container *ngTemplateOutlet="albums; context: {$implicit: {albums: sharedWithMeAlbums, albumGroup : 'Shared Albums'}}"></ng-container> 
</div>

<ng-template #albums let-that>
    <div class="title">{{that.albumGroup}}</div>
    <div class="albums-container">
        <ng-container *ngFor="let album of that.albums">
            <mat-card class="album">
                <mat-card-content>
                    <div class="name">
                        {{album.name}}
                    </div>
                    <div *ngIf="album.ownedByMe" class="album-menu">
                        <span [matMenuTriggerFor]="albumMenu" matTooltip="Album Options" class="material-symbols-outlined">more_vert</span>
                    </div>

                    <mat-menu #albumMenu="matMenu">
                        <button (click)="openShareWithUserDialog(album)" mat-menu-item>
                          <mat-icon>share</mat-icon>
                          <span>Share</span>
                        </button>
                        <ng-container *ngIf="album.albumType != AlbumType.DEFAULT.id">
                            <button mat-menu-item (click)="delete(album)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                              </button>
                        </ng-container>
                        
                      </mat-menu>

                    <div class="thumbnail-container">
                        <img (click)="onAlbumClick(album)" class="thumbnail img-fluid" alt="thumbnail" [src]="album.albumThumbnailObject!.url" />    
                    </div>
                    <div class="album-status">
                        <div class="sharing-status">
                            <span *ngIf="album.ownedByMe && album.sharedWithOthers"  matTooltip="Shared" class="material-symbols-outlined">share</span>
                            <span *ngIf="album.ownedByMe && !album.sharedWithOthers"  matTooltip="Private" class="material-symbols-outlined">share_off</span>
                        </div>
                        <div  class="public-access-status">
                            <span *ngIf="album.ownedByMe && album.publicAccess" matTooltip="Public Access Enabled"  class="material-symbols-outlined">public</span>
                            <span *ngIf="album.ownedByMe && !album.publicAccess" matTooltip="Public Access Disabled"  class="material-symbols-outlined">vpn_lock</span>
                        </div>
                    </div>
                </mat-card-content>
              </mat-card>
        </ng-container>
    </div>
  </ng-template>