<div class="album-type-container">
    <ng-container *ngTemplateOutlet="albums; context: {$implicit: {albums: myAlbums, albumGroup : 'My Albums'}}"></ng-container>   
    
    <div class="album-type-container" *ngIf="sharedWithMeAlbums && sharedWithMeAlbums.length">
        <ng-container *ngTemplateOutlet="albums; context: {$implicit: {albums: sharedWithMeAlbums, albumGroup : 'Shared Albums'}}"></ng-container> 
</div>

<ng-template #albums let-that>
    <div class="title">{{that.albumGroup}}</div>
    <div class="albums-container">
        <ng-container *ngFor="let album of that.albums">
            <mat-card class="album">
                <mat-card-content>
                    <div class="name">
                        {{album.name}}
                    </div>
                    <div *ngIf="album.ownedByMe" class="sharing-status">
                        <span matTooltip="Private" *ngIf="!album.sharedWithOthers" class="material-symbols-outlined">share_off</span>
                        <span  matTooltip="Shared" *ngIf="album.sharedWithOthers" class="material-symbols-outlined">share</span>
                    </div>
                    <div *ngIf="album.ownedByMe" class="public-access-status">
                        <span matTooltip="Private" *ngIf="album.sharedWithOthers && !album.publicAccess" class="material-symbols-outlined">vpn_lock</span>
                        <span  matTooltip="Shared with Link" *ngIf="album.sharedWithOthers && album.publicAccess" class="material-symbols-outlined">public</span>
                    </div>
                    <div class="thumbnail-container" (click)="onAlbumClick(album)">
                        <img class="thumbnail img-fluid" alt="thumbnail" [src]="album.albumThumbnail!.url" />    
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button *ngIf="album.ownedByMe" (click)="openShareWithUserDialog(album)" mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </ng-container>
    </div>
  </ng-template>