@import "/src/assets/styles/variables.scss";

.albums-container{
    margin-top: 10px;


    .title{
        font-weight: 500;
        font-size: 20px;
    }

    .album{
        border: 1px solid  $accent-color;
        border-radius: 15px;
        max-width: 150px;
        height: 150px;
        padding: 0px;
        cursor: pointer;

        .thumbnail{
            width: 100%;
            border-radius: 10px;
            height: 100%;
        }

        .title{
            font-weight: 400;
            font-size: 16px;
        }

    }
}