<div class="col-12 asset-container">
    <ng-container *ngIf="currentAsset && currentAsset.url && currentAsset.assetType === AssetType.PHOTO.id">
        <img class="img-fluid" [src]="currentAsset.url | secure |async"/>
    </ng-container>

    <ng-container *ngIf="currentAsset && currentAsset.url  && currentAsset.assetType === AssetType.VIDEO.id">   
        <video class="img-fluid"  controls #videoPlayer >
            <source [src]="currentAsset.url" type="video/mp4" />
            Browser not supported
        </video>
        
    </ng-container>
</div>