
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    background-color: #15C57E;
    color: #ffffff;
    box-shadow: 0px 4px 8px -6px #2b2c2d;

    .header-list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-right: 2rem;

        a{
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
        }
        
        li{
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}