<div #assetGridContainer class="asset-grid-container">
    <div class="section-container" *ngIf="sections">
        <cdk-virtual-scroll-viewport
            #virtualScrollViewport
            class="section-scroll-viewport" customVirtualScrollStrategy [itemHeights]='sectionHeights' (visibleSectionChange)="onVisibleSectionChange($event)">
            <div
            [id]="section.id"
            class="section" 
            [ngStyle] = "section.segments.length === 0 && {'height.px': section.height} || null"
            [ngClass] = "{'with-segments' : section.segments.length > 0}"
             *cdkVirtualFor="let section of sections">
                <div class="segment" [ngStyle] = "{'height.px': segment.height}" *ngFor="let segment of section.segments">
                    <div class="segment-title-container">
                        <span [ngClass]="{'active': isAllSelected(segment)}" class="select material-symbols-outlined"
                            [matTooltip]="groupCheckboxLabel(segment)"
                            (click)="masterToggleGroup(segment)">check_circle</span>
                        <span class="title">{{segment.date}}</span>
                    </div>
                    
                    <ng-container *ngFor="let tile of segment.tiles">
                        <div 
                        class="tile"  
                        (click)="onThumbnailClick(segment,tile.asset)"
                        [ngClass]="{'selected': segment.selection.isSelected(tile.asset)}"
                        [ngStyle] = "{'height.px': tile.height, 'width.px': tile.width, 'top.px': tile.top, 'left.px': tile.left}">

                            <span class="select material-symbols-outlined"
                                [matTooltip]="assetCheckboxLabel(segment, tile.asset)">
                                <span (click)="toggleAssetSelection(segment,tile.asset);$event.stopPropagation()"
                                    class="material-symbols-outlined">
                                    check_circle
                                </span>
                            </span>
                            <span *ngIf="tile.asset.assetType === AssetType.VIDEO.id" class="video material-symbols-outlined">
                                play_circle
                            </span>
                            <img  class="asset img-fluid" alt="Asset"  [src]="tile.asset.thumbnail.url"/>
                        </div>
                    </ng-container>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    
    <app-action-bar [position]="'page'" [actions]="actions"></app-action-bar>
</div>

<div class="scrubbable-scrollbar">
    <app-scrubbable-scrollbar #scrubbableScrollbarComponent 
    [activeSection]="activeSection"
    (activeSectionChange)="onActiveSectionChange($event)"
    ></app-scrubbable-scrollbar>
</div>