@import "/src/assets/styles/variables.scss";

.asset-grid-container{
  max-height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}


mat-expansion-panel {
    border-radius: 0px;

    .mat-expansion-panel-header {

      &.mat-expanded:hover {
          background-color: unset;
      }

      .mat-expansion-panel-header-description{
        text-align: right;
        display: block;
      }
    }

    &.mat-expanded {
        background-color: #15c57f1b;
        padding: 18px 0px 0px 0px;
        border-bottom: 2px solid $primary-color;
    }
}

.asset-container{
  min-height: calc(100vh - 300px);

  .assets-group-title-container {
    margin-top: 10px;
    margin-bottom: 5px;
  
    .select{
      margin-right: 5px;
      height: 24px;
      width: 24px;
  
      &.active {
        color: $accent-color;
      }
  
      &:hover {
        cursor: pointer;
      }
  
    }
  
    .title{
      font-weight: 500;
      vertical-align: super;
    }
    
  }

  .asset-thumbnail-container {
    padding: 0px;
    
  
    .mat-card{
      padding: 0px;
  
      .thumbnail {
        
        .asset{
          padding: 1px;
        }
  
        .select{
          display: none;
          position: absolute;
          cursor: pointer;
          width: 100%;
          color: gray;
          background: rgb(64,70,68);
          background: linear-gradient(180deg, rgba(64,70,68,0.7674779384410014) 0%, rgba(49,78,94,0) 100%);
  
          &:hover {
            color: white;
          }  
        }
  
        .video{
          position: absolute;
          right:0px;
          color: white;
        }
  
        &:hover {
          .select{
              display: block;
          }
        }
  
        &.selected {
  
          .asset{
            padding: 15px;
          }
          
          .select{
            display: block;
            color: $accent-color;
            background:none;
            }
        }
      }
    }
  }

}






