# See http://help.github.com/ignore-files/ for more about ignoring files.

.settings/
target/

src/main/webapp/node_modules
src/main/webapp/build
src/main/webapp/node
src/main/webapp/.eslintcache
src/main/webapp/npm-debug.log*
src/main/webapp/yarn-debug.log*
src/main/webapp/yarn-error.log*
src/main/webapp/debug.log
src/main/webapp/package-lock.json
src/main/webapp/.eslintcache

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
src/main/angular/node_modules
src/main/angular/node
src/main/angular/.angular
src/main/webapp

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
