
<div class="page-controls">
    <div class="material-symbols-outlined" (click)="navigateSearch()" matTooltip="Back">
        arrow_back
    </div>
</div>
<div class="asset-controls">
    <div class="control material-symbols-outlined" (click)="deleteAsset()"  matTooltip="delete">
        delete
    </div>
    <div class="control material-symbols-outlined" (click)="updateAsset()"  matTooltip="Update">
        update
    </div>
    
</div>
<div class="navigation-controls">
    <div matTooltip="Previous" #previousAssetButton class="left material-symbols-outlined" (click)="changeCurrentAssetAsset(false)">
        arrow_circle_left
        </div>

    <div matTooltip="Next" #nextAssetButton class="right material-symbols-outlined" (click)="changeCurrentAssetAsset(true)">
        arrow_circle_right
        </div>
</div>
<div>
    <app-asset-full-screen-view
    [currentAssetId]="currentAssetId"
    [assetIds]="assetIds"
    >
    </app-asset-full-screen-view>
</div>
