@import "variables.scss";

.mat-mdc-form-field {
    width: 100%;

    .mdc-text-field--filled {
        background-color: transparent !important;
    }
    
    .mat-mdc-form-field-focus-overlay {
        background-color: transparent !important;
    }

    .mat-mdc-input-element {
        float: left;
        width: 90%;
    }

    .mat-suffix {
        float: right;
        cursor: pointer;
    }
}

.mat-body, .mat-body-1, .mat-typography {
    letter-spacing: normal;
}

.mat-form-field-disabled {
    .mat-form-field-label{
        color: rgba(0, 0, 0, 1)!important;
    }

    .mat-input-element{
        color: rgba(0, 0, 0, 1)!important;
    }
}

.mat-snack-bar-container {
    &.alert-error {
        background-color: $error-color;
    }

    &.alert-success {
        background-color: $accent-color;
    }


    .mat-simple-snack-bar-content,.mat-simple-snackbar-action{
        color:white;
    }
}

.mat-mdc-form-field-hint {
    &.error {
        font-size: 10px;
        color:$error-color;
    }
}

.cdk-overlay-pane.app-asset-view {
    mat-dialog-container {

        .mat-mdc-dialog-surface{
            background-color : rgba(0, 0, 0, 0.3);
        }

    }
}