<nav class="navbar navbar-expand-lg header">
  <div class="container-fluid">
    <div class="col-6 col-sm-2 logo" (click)="navigateToAssetList()">
      <img src="assets/images/header-logo.png"  class="img-fluid" alt="Logo">
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngFor="let menuItem of menuItems"  [ngClass]="{'active': activeMenu === menuItem}" (click)="navigate(menuItem)">
          <span class="label" >{{menuItem.label}}</span>
        </li>
      </ul>
      
      <span [matMenuTriggerFor]="menu" class="logout-button   material-icons cursor-hand">account_circle</span>

      <mat-menu #menu="matMenu">
        <!--
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Personal settings</span>
        </button>
        -->
        <button *ngIf="userTypeAdmin" (click)="navigateToAdminSection()" mat-menu-item>
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Administration settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
      
    </div>

    <button mat-icon-button class="navbar-toggler" [matMenuTriggerFor]="menu">
      <mat-icon >account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleSideBar()" class="navbar-toggler" >
      <mat-icon>more_vert</mat-icon>
    </button>
    
  </div>
</nav>