@import "/src/assets/styles/variables.scss";

.header {
    flex: 0 1 auto;
    border-bottom: 1px solid $primary-color;
    height: 80px;

    .nav-item{
        padding: 16px 20px;
        cursor: pointer;

        &.active {
            background: $secondary-color;    
        }
    }

    .me-auto {
        background: $primary-color;
    }


    .d-flex {
        .logout-button {
            color: black;
            margin: 8px;
        }
    }
}

