@import "/src/assets/styles/variables.scss";

.header {
    flex: 0 1 auto;
    border-bottom: 1px solid $primary-color;
    height: 80px;
    width: 100vw;

    .logo {
        cursor: pointer;
    }

    .nav-item{
        padding: 16px 20px;
        cursor: pointer;

        &.active {
            background: $secondary-color;    
        }
    }

    .me-auto {
        background: $primary-color;
    }


    
    .logout-button {
        color: black;
        font-size: 36px;
        margin: 8px;
    }
    
}

