<h2 mat-dialog-title>Update {{user.firstName}}'s Password</h2>
<div mat-dialog-content>
  <form class="row m-t-30" *ngIf="entityFormGroup" [formGroup]="entityFormGroup">
    <div class="col-12">
        <div class="row input-row">
          <div class="input-column col-12">
            <app-text placeholder="Password" formControlName="password" [isRequired]="true"
              [error]="getErrorMessage('password')"></app-text>
          </div>
        </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="resetPassword()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
