<ng-particles id="tsparticles" 
              [options]="particlesOptions">
</ng-particles>
<div class="login-box col-4 offset-4 animate__animated animate__bounceInUp"
  [ngClass]="{'animate__bounceOutDown' : redirectingToHome}">
  <mat-card>
    <mat-card-content>

      <div class="row">
        <div class="col-12 text-center">
          Snap Crescent
        </div>
      </div>

      <form>
        <div class="row">
          <div class="col-12">

            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password">
            </mat-form-field>

          </div>
        </div>
      </form>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
