.login-box{
    margin-top: 20%;

    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}